$nav-background: #3c4b64;
$nav-color: #dddddd;

body {
  margin: 0;
  padding: 0;
}
.loader-transition {
  transition: opacity 0.5s ease-out;
}
.title {
  font-weight: 700 !important;
  white-space: pre;
}
.title-2 {
  font-weight: 400 !important;
  white-space: pre;
}
.card {
  min-height: 180px;
  min-width: 380px;
  flex: 1;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  &.blue-green {
    background-image: url("/static/img/breadpattern2.png"),
      linear-gradient(70deg, #1f86d8, #6a9636);
    background-size: 50%, 500px;
  }
  &.maroon-yellow {
    background-image: url("/static/img/breadpattern2.png"),
      linear-gradient(70deg, #7e1316, #ffb100);
    background-size: 50%, 500px;
  }
  & .content {
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0px rgba(0, 0, 0, 0.171);
    padding: 0 16px;
    .primary {
      font-size: 27px;
      font-weight: 500;
    }
    .secondary {
      font-weight: 300;
    }
  }
}
.nav-list {
  background: $nav-background;
  color: $nav-color;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.271);
  & span {
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
  }
}
.full-width-search {
  position: absolute !important;
  left: 0;
  right: 0;
  & > div:first-of-type {
    width: 70%;
  }
}
tr {
  font-family: Arial, Helvetica, sans-serif;
  white-space: pre;
}
